/*********************
Header's CSS
*********************/
/*********************
VARIABLES
*********************/
/* Website's font sizes */
/* Website's Colors */
/* Green Gradient */
/* Blue Gradient */
/* Style for large devices */
@media (min-width: 1200px) {
  .values {
    width: 100%;
    float: left;
    display: block;
    text-align: center;
    margin: 80px 0; }
    .values ul li {
      width: 23.33%;
      height: 205px;
      float: left;
      text-align: center;
      margin: 20px 5%; }
      .values ul li h1 {
        font-size: 22px; } }
