/* Import all variables */
/*********************
VARIABLES
*********************/
/* Website's font sizes */
/* Website's Colors */
/* Green Gradient */
/* Blue Gradient */
body, html {
  color: #B2C4D5;
  background: #161A23;
  -webkit-font-smoothing: antialiased;
  font-family: 'Cabin', sans-serif; }

a {
  color: #15A5DF; }

p {
  line-height: 1.5em; }

p, small, input, textarea {
  -webkit-font-smoothing: antialiased;
  font-size: 20px;
  outline: none; }

small {
  display: block;
  margin: 10px 0;
  color: #33B993; }

ul, h1, h2, p, li {
  font-weight: 100;
  display: block;
  margin: 0;
  border: 0;
  padding: 0; }

h1 {
  display: block;
  margin: 15px 0;
  color: #FFFFFF; }

h2 {
  line-height: 1.4em; }

button {
  -webkit-font-smoothing: antialiased;
  color: white;
  background-image: linear-gradient(45deg, #37D6A9 0%, #003FFF 100%);
  border: none;
  padding: 15px 30px;
  border-radius: 50px;
  outline: none;
  margin: 50px 0;
  font-size: 20px; }

form input {
  color: #C6CBD0; }
form textarea {
  resize: none; }
form textarea::-webkit-input-placeholder {
  color: #C6CBD0; }

@media (min-width: 1200px) {
  .wraper {
    width: 1200px;
    margin: 0 auto; } }
