/*********************
Header's CSS
*********************/
/*********************
VARIABLES
*********************/
/* Website's font sizes */
/* Website's Colors */
/* Green Gradient */
/* Blue Gradient */
/* Style for large devices */
@media (min-width: 1200px) {
  .header_case_study .content {
    width: 100%;
    display: block;
    position: relative;
    float: left;
    margin: 100px 0; }
    .header_case_study .content .container {
      width: 100%;
      float: left;
      text-align: center; }
      .header_case_study .content .container h1, .header_case_study .content .container p {
        width: 60%;
        margin: 10px auto; }
    .header_case_study .content .container-img {
      width: 50%;
      float: right; }
    .header_case_study .content .hero-image {
      overflow: hidden;
      height: 500px;
      width: 100%;
      float: left;
      margin: 50px 0; }
      .header_case_study .content .hero-image img {
        width: 100%;
        position: relative; } }
@media (max-width: 992px) {
  .header_case_study {
    color: #fff; } }
