/*********************
Header's CSS
*********************/
/*********************
VARIABLES
*********************/
/* Website's font sizes */
/* Website's Colors */
/* Green Gradient */
/* Blue Gradient */
/* Style for large devices */
@media (min-width: 1200px) {
  .work {
    width: 80%;
    margin-left: 10%;
    display: block;
    text-align: center;
    float: left; }
    .work h1, .work p {
      width: 60%;
      margin: 10px auto; }
    .work .work-item {
      position: relative;
      width: calc(50% - 20px);
      height: 300px;
      float: left;
      background: #000;
      margin: 10px;
      overflow: hidden; }
      .work .work-item img {
        position: absolute;
        top: 50%;
        left: 50%;
        -webkit-transform: translate(-50%, -50%);
                transform: translate(-50%, -50%); }
      .work .work-item img:nth-child(1) {
        z-index: 1; }
    .work .featured-work {
      margin: 50px 0; }
    .work .cta {
      width: 100%;
      text-align: center; } }
